@font-face {
    font-family: 'TT Lakes';
    src: url('New Folder/TTLakesCompressed-Italic.woff')  format("woff");
    font-weight: normal;
    font-style: italic;
}
@media only screen and (max-width: 400px) {
    .menu-item { margin-right: 18px; }
  }
  
  @media only screen and (max-width: 426px) {
    .menu-item { margin-right: 8px; }
  }
  
  @media only screen and (max-width: 450px) {
    .menu-item { margin-right: 9px; }
  }
  
  @media only screen and (max-width: 470px) {
    .menu-item { margin-right: 18px; }
  }
  
  @media only screen and (max-width: 510px) {
    .menu-item { margin-right: 18px; }
  }
@media screen and (min-width:320px) {
  .hidemobile{
    visibility: hidden;
    display: none;
  }

}

body {
 
    font-family: 'TT Lakes', sans-serif;
    font-weight: normal;
    font-style: normal;

    margin: 0;
    width:320px;
    height: 597px;
    overflow: hidden;

  }
  h1{
    font-family: 'TT Lakes', sans-serif;
    font: 28px;
  }
  
.page-header{
  background: #ffffff;
}

main{ 
  background: #F8F8F8;
  


}
ul{
    margin:0;
    }
li {
        list-style-type: none;
   
      }
p{ margin-left: 20px;
  margin-right: 20px;
  
}
.img-repair{
  background: url(img/Grouprep.svg);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.img-profile{
  background: url(img/profile.svg);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.img-chat{
  background: url(img/icon-chat.svg);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.img-call{
background: url(img/icon-call.svg);
margin: auto;
background-position: center;
background-repeat: no-repeat;
}
.img-burger{
  background: url(img/icon-call.svg);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  }
  .img-search{
    background: url(img/icon-searcg.svg);
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
  } 

.page{
    width:320px;
    height: 88px;
    padding-left: 15px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    }
.clik-1{
    width:40px;
    height:40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    background-color: #FF3E79;
    border-radius: 20px;
}
.clik-2{
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  width:97px;

  margin-right: 15px;

}
.clik-2-1{
  width:40px;
  height:40px;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  margin-left: auto;
  background-color: #FF3E79;
  border-radius: 20px;
}
.clik-2-2{
  width:40px;
  height:40px;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  background-color: #FF3E79;
  border-radius: 20px;
}
.clik-2-3{
  width:40px;
  height:40px;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  background-color: #FF3E79;
  border-radius: 20px;
}
.clik-2-5{
  width:2px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  
}
.clik-3{
  margin-top: auto;
  margin-bottom: auto;
  width:40px;
  height:40px;
  margin-right: 10px;
  background-color: #FF3E79;
  border-radius: 20px;
}
.clik-4{
    margin-top: auto;
    margin-bottom: auto;
    width:40px;
    height:40px;
    background-color: #FF3E79;
    border-radius: 20px;
}
.page-main{
  padding-top: 20px;
    width:320px;
    height:509px;

}

.menu {
    display: flex;
    font-family: 'TT Lakes', sans-serif;
    font: 20px;
    padding-inline-start: 20px;
  }
.black_a:link, .black_a:visited, .black_a:active{
    color:  #000000;
    font: 16px 'TT Lakes', sans-serif;
    font-weight: 450;
    text-decoration: none;
}
.greu_a:link, .greu_a:visited, .greu_a:active{
    color:  #7E7E82;
    font: 16px 'TT Lakes', sans-serif;
    text-decoration: none;
}
  .menu-item {
    font: 16px 'TT Lakes', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border: 3px solid #F8F8F8;
    
  }
  .menu-item:hover {
    font: 16px 'TT Lakes', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    background: #ffffff;
    border: 3px solid #B8FFEC;
    border-radius: 10px; 
  }
  .menu-item:focus {
    font: 16px 'TT Lakes', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    background: #ffffff;
    border: 3px solid #B8FFEC;
    border-radius: 10px; 
  }
  
  .menu-item:last-child {
    margin-right: 0;
  }
.menuLimiter {
    /* ... */
    width: 2000px;


    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    /* Добавим дополнительный нижнее поле
    элементу, в котором прокручивается меню */

  
    /* С помощью отрицательного отступа
    компенсируем «нарощенное» поле  */
    margin-bottom: -20px;
      /* ... */
    mask-image: linear-gradient(
    90deg,
    transparent 0, rgba(0, 0, 0, .25) 9px,
    #000 18px,
    #000 calc(100% - 18px),
    rgba(0, 0, 0, .25) calc(100% - 9px),
    transparent
  );
  }
  
.menuWrapper {
    /* Спрячем всё, что выходит за границы родителя */
    overflow: hidden;
    height: 48px;
  }
    
.name-ofer{
    display: flex;
    justify-content:flex-start;

    width:304px;
    height:40px;
}
.name-1{
  width: 4px;
  height:40px;
  margin-right: 10px;
  border-radius: 0px 20px 20px 0;
  background: #41F6D7;

  }
  
.name-2{
    font-family: 'TT Lakes', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
    margin-right: 10px;
    margin-top: auto;
}
.page-footer{
    
    width: 320px;
    height: 322px;
}
.read_more{
  font: 16px 'TT Lakes', sans-serif;
  width: 150px;
  height: 32px;
  margin-left: 30px;
  display:inline-block;
  justify-content:center;
}
.read_more_unit1{
  width: 24px;
  height: 24px;
  float : left;
  background: #7E7E82;
}
.img-icon2{
  background: url(img/icon2.svg);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.read_more_unit2{
  float : left;
}
.resize{
  width: 320px;


}
